{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for tx in transactions %}
        <tr>
            <td>{{ tx.type }}</td>
            <td>{{ tx.symbol }}</td>
            <td>{{ tx.shares }}</td>
            <td>{{ tx.price | usd }}</td>
            <td>{{ tx.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

